
  <footer>
    <p style="color: #fff; font-weight: 600;">© 2025 Projeto Florir</p>

    <nav>
      <ul>
        <li><a href="/sobre">O projeto Florir</a></li>
        <li><a href="/contato">Entre em contato conosco!</a></li>
        <li><a href="/termos">Nossos Termos de Uso e Privacidade</a></li>
      </ul>
    </nav>
  </footer>

