
  <footer>
    <p>© 2025 Projeto Florir</p>

    <nav>
      <ul>
        <li><a href="/views/sobre.ejs">O projeto Florir</a></li>
        <li><a href="/views/contato.ejs">Entre em contato conosco!</a></li>
        <li><a href="/views/termos.ejs">Nossos Termos de Uso e Privacidade</a></li>
      </ul>
    </nav>
  </footer>

