<%- include("layout") %>
<section class="hero">
    
  <div class="hero-image">

    <div class="logoHero">
      <img src="/img/logoFlorir.png" alt="">
    </div>
    <div class="textHero">
      <p class="typing"></p> <!-- Aqui entra o efeito de digitação -->
    </div>
    
  </div>    
    
</section>
