<%- include("partials/layout") %>
  <%- include("partials/header") %>

    <main class="container" style="margin-top: 2rem; margin-bottom: 2rem;">

      <section class="leia-mais" style="margin-top: 3rem;">
        <h3 style="text-align: center; margin-bottom: 2rem;">Veja também</h3>
        <%- include("partials/posts", { posts: postsRecentes }) %>
      </section>
    </main>

    <%- include("partials/footer") %>