<%- include("partials/layout") %>
<%- include("partials/header") %>

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


  <main class="glass-container">
  <h1 style="text-align:center;color:white;">Mapa de Saúde e ONGs</h1>

<div class="filtros">
  <label><input type="checkbox" class="filtro" value="hospital" checked> Hospitais</label>
  <label><input type="checkbox" class="filtro" value="clinic" checked> Clínicas</label>
  <label><input type="checkbox" class="filtro" value="pharmacy" checked> Farmácias</label>
  <label><input type="checkbox" class="filtro" value="social_facility" checked> ONGs / Centros sociais</label>
</div>
  <p>Aviso: A localização pode nao estar 100% precisa, mas ainda mostrará lugares importantes da região</p>
<div id="map" style="height: 80vh; border-radius: 10px;"></div>
<script src="/scripts/mapa.js"></script>
</main>
<%- include("partials/footer") %>