<%- include("layout") %>
<%- include("partials/header") %>

<section>
  <h2>Sobre o Projeto</h2>
  <p>O Florir nasceu para oferecer suporte emocional e informativo, conectando adolescentes grávidas a serviços de saúde e apoio social.</p>
</section>

<%- include("partials/footer") %>
